.flex-container-experience-header {
  text-align: center;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  line-height: 100px;
  background-color: gainsboro;
  width: 100%;
  height: 100px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.flex-container-experience-header h3 {
  background-color: gainsboro;
  width: 100%;
  height: 100px;
  margin: auto;
}
