<div id="experience" class="flex-container-header">
  <i class="pi pi-briefcase" style="font-size: 24px"></i>
  <h3>EXPERIENCE</h3>
</div>

<div class="flex-container-experience-box">
  <p-timeline [value]="events" align="alternate">
    <ng-template pTemplate="marker" let-event>
      <span>
        <i [style.color]="event.color" [ngClass]="event.icon"></i>
      </span>
    </ng-template>
    <ng-template pTemplate="content" let-event>
      <p-card
        [header]="event.company"
        [subheader]="event.date"
        style="width: 48%"
        styleClass="p-card-shadow"
      >
        <ng-template pTemplate="header">
          <a [href]="event.url"
            ><img
              [alt]="event.company"
              [src]="event.image"
              style="
                width: 25%;
                margin-left: 1%;
                margin-right: 1%;
                margin-top: 2%;
              "
          /></a>
        </ng-template>
        <p style="text-align: 'left'">{{ event.description }}</p>
      </p-card>
    </ng-template>
  </p-timeline>
</div>
