.flex-container-skills-box {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #ebedef;
  align-items: center;
  justify-content: center;
}

p-card {
  width: 250px;
  margin: 15px;
}
