<div class="flex-container-main">
  <div class="image"><img src="assets/images/bruno.jpeg" alt="" /></div>
  <div class="details">
    <div class="details-header">
      <h1>Bruno Omizu</h1>
      <p>Solutions Architect | Technical Lead</p>
      <p>New Zealand Permanent Resident</p>
    </div>
    <div class="details-contact">
      <div>
        <h4><strong>Date of Birth</strong></h4>
        <p>November 12th, 1985</p>
      </div>
    </div>
  </div>
</div>
<div class="flex-container-social-main">
  <div class="flex-container-social-box">
    <div class="flex-container-social-item">
      <a href="https://www.linkedin.com/in/brunomizu/"
        ><i class="pi pi-linkedin" style="font-size: 24px"></i
      ></a>
    </div>
    <div class="flex-container-social-item">
      <a href="https://www.facebook.com/bruno.omizu/"
        ><i class="pi pi-facebook" style="font-size: 24px"></i
      ></a>
    </div>
    <div class="flex-container-social-item">
      <a href="https://github.com/brnomz/my-digital-cv"
        ><i class="pi pi-github" style="font-size: 24px"></i
      ></a>
    </div>
    <div class="flex-container-social-item">
      <a href="https://www.instagram.com/brunomizu/"
        ><i class="pi pi-instagram" style="font-size: 24px"></i
      ></a>
    </div>
  </div>
</div>
<div class="flex-container-intro">
  <div class="flex-container-intro-box">
    <div class="intro-hello"><span>HELLO, I AM BRUNO.</span></div>
    <p>
      I am a Solutions Architect with over 15 years of experience in Software
      Engineering, Integration, Cloud, and DevOps. My passion is to work with
      technology, understanding how it functions and what possibilities it
      offers.
    </p>

    <p>
      As a part of my ongoing learning journey, I have built this CV webpage
      using Angular and PrimeNg components as an experiment to enhance my
      front-end skills. You can find the complete code for this website on my
      GitHub repository (link provided above). I hope you discover the necessary
      information to consider me for a suitable position.
    </p>

    <p>
      I have a preference for permanent roles, whether remote or hybrid (being
      in the office twice a week is also acceptable). I am also able to provide
      references upon request.
    </p>
  </div>
</div>
