<div class="flex-container-main">
  <div class="image"><img src="assets/images/bruno.jpg" alt="" /></div>
  <div class="details">
    <div class="details-header">
      <h1>Bruno Omizu</h1>
      <p>Solutions Architect | Technical Lead</p>
      <p>New Zealand Permanent Resident</p>
    </div>
    <div class="details-contact">
      <div>
        <h4><strong>Phone</strong></h4>
        <p>000 222 8877</p>
      </div>
      <div>
        <h4><strong>Email</strong></h4>
        <p>test@test.com</p>
      </div>
      <div>
        <h4><strong>Date of Birth</strong></h4>
        <p>November 12th, 1985</p>
      </div>
    </div>
  </div>
</div>
<div class="flex-container-social-main">
  <div class="flex-container-social-box">
    <div class="flex-container-social-item">
      <a href="https://www.linkedin.com/in/brunomizu/"
        ><i class="pi pi-linkedin" style="font-size: 24px"></i
      ></a>
    </div>
    <div class="flex-container-social-item">
      <a href="https://www.facebook.com/bruno.omizu/"
        ><i class="pi pi-facebook" style="font-size: 24px"></i
      ></a>
    </div>
    <div class="flex-container-social-item">
      <a href="https://github.com/brnomz/my-digital-cv"
        ><i class="pi pi-github" style="font-size: 24px"></i
      ></a>
    </div>
    <div class="flex-container-social-item">
      <a href="https://www.instagram.com/brunomizu/"
        ><i class="pi pi-instagram" style="font-size: 24px"></i
      ></a>
    </div>
  </div>
</div>
<div class="flex-container-intro">
  <div class="flex-container-intro-box">
    <div class="intro-hello"><span>Hello, I'm Bruno</span></div>
    <p>
      I am a Solutions Architect with over 15 years of experience with Software
      Engineering, Integration, Cloud and DevOps. My passion is to work with
      technology and understand how it works and what we can do with it.
    </p>

    <p>
      As part of my learning journey, I have built this CV webpage using
      <a href="https://angular.io/">Angular 14</a> and
      <a href="https://www.primefaces.org/primeng/">PrimeNg</a> components as a
      experiment to improve my front-end skills. You can find the full code for
      this website on my GitHub repository (link above). I hope you find the
      information required to get me a good job in your company :)
    </p>

    <p>
      I have a preference for permanent roles and remote (or hybrid / twice a
      week in the office is fine too). I can also provide references, you just
      have to request it
    </p>
  </div>
</div>
