<div class="flex-container-main">
  <div class="image"><img src="assets/images/bruno.jpg" alt="" /></div>
  <div class="details">
    <div class="details-header">
      <h1>Bruno Omizu</h1>
      <p>Solutions Architect | Technical Lead</p>
      <p>New Zealand Permanent Resident</p>
    </div>
    <div class="details-contact">
      <div>
        <h4><strong>Phone</strong></h4>
        <p>000 222 8877</p>
      </div>
      <div>
        <h4><strong>Email</strong></h4>
        <p>test@test.com</p>
      </div>
      <div>
        <h4><strong>Address</strong></h4>
        <p>19/8 TEST TEST</p>
        <p>TEST</p>
        <p>TEST</p>
      </div>
      <div>
        <h4><strong>Date of Birth</strong></h4>
        <p>November 12th, 1985</p>
      </div>
    </div>
  </div>
</div>
<div class="flex-container-social-main">
  <div class="flex-container-social-box">
    <div class="flex-container-social-item">
      <a href="https://www.linkedin.com/in/brunomizu/"
        ><img src="assets/images/linkedin.svg" alt="LinkedIn"
      /></a>
    </div>
    <div class="flex-container-social-item">
      <a href="https://github.com/brnomz/my-digital-cv"
        ><img src="assets/images/github.svg" alt="GitHub"
      /></a>
    </div>
    <div class="flex-container-social-item">
      <a href="https://www.instagram.com/brunomizu/"
        ><img src="assets/images/instagram.svg" alt="Instagram"
      /></a>
    </div>
  </div>
</div>
<div class="flex-container-intro">
  <div class="flex-container-intro-box">
    <div class="intro-hello"><span>Hello, I'm Bruno</span></div>
    <p>
      I am a Solutions Architect with over 15 years of experience with Software
      Engineering, Cloud and DevOps. I have built this CV webpage using Angular
      14 with a few components from PrimeNg to test and improve my front-end
      skills. You can find the full code for this website on my GitHub
      repository.
    </p>
  </div>
</div>
