/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "average";
  src: url("fonts/UbuntuMono-Regular.ttf") format("truetype");
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

body,
body .p-component {
  font-family: "average";
}

.flex-container-header {
  text-align: center;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  line-height: 100px;
  background-color: #85929e;
  height: 100px;
  scroll-margin: 52px;
}

.flex-container-header h3 {
  background-color: #85929e;
  color: #eaecee;
  height: 100px;
  margin: 10px;
}

.spacing {
  background-color: #ebedef;
}

i {
  color: #eaecee;
}
